<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Datos de la Persona</title>
</head>
<body>
<header th:replace="layout/plantilla.html :: header"></header>
<h2>[[#{persona.formulario}]]</h2>
<a th:href="@{/}">[[#{accion.regresar}]]</a>
<br/>
<form th:action="@{/guardar}" method="post" th:object="${persona}">
    <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
    <br/>
    <label for="nombre">[[#{persona.nombre}]]:</label>
    <input type="text" name="nombre" th:field="*{nombre}"/>
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error del nombre</span>
    <br/>
    <label for="apellido">[[#{persona.apellido}]]:</label>
    <input type="text" name="apellido" th:field="*{apellido}"/>
    <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error del apellido</span>
    <br/>
    <label for="email">[[#{persona.email}]]:</label>
    <input type="email" name="email" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error del email</span>
    <br/>
    <label for="telefono">[[#{persona.telefono}]]:</label>
    <input type="tel" name="telefono" th:field="*{telefono}"/>
    <br/>
    <input type="submit" name="guardar" th:value="#{accion.guardar}"/>
</form>
<footer th:replace="layout/plantilla.html :: footer"></footer>
</body>
</html>